{% load static %}

<!-- Footer -->
<footer class="page-footer font-small" style="background-color: indigo; margin-top: 99px;">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-2">
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" style="color: white;">Contact</a>
          </h6>
        </div>
      <!-- Grid column -->
      </div>
    </div>
    <hr style="border-width: 10px; background-color:#2e0b47;">
    <div class="row text-center" style="justify-content: center;">  
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem; color: white;">Firdaus Alfajar adalah seorang optimis 
          yang tak tergoyahkan yang percaya pada masa depan yang cerah dan kemampuan kita untuk membangunnya 
          bersama. Dia menemukan pola yang luar biasa tentang bagaimana para pemimpin dan organisasi terbesar berpikir, 
          bertindak dan berkomunikasi.      
        </p>
          
      </div>
    </div>
    <div class="text-center" style="padding-bottom: 20px;" >
      <a class="fb-ic">
        <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x" style="color: white;"> </i>
      </a>
      <!-- Twitter -->
      <a class="tw-ic">
        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x" style="color: white;"> </i>
      </a>
      <!-- Google +-->
      <a class="gplus-ic">
        <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x" style="color: white;"> </i>
      </a>
      <!--Linkedin -->
      <a class="li-ic">
        <i class="fab fa-whatsapp fa-lg white-text mr-md-5 mr-3 fa-2x" style="color: white;"> </i>
      </a>
      <!--Instagram-->
      <a class="ins-ic">
        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" style="color: white;"> </i>
      </a>
  </div>
  </div>
</footer>
  <!-- Footer -->