<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" href="/">MariPython</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="/account">{{user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="logout/">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="register/">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="login/">Login</a>
          </li>
        {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="contact/">Contact</a>
        </li>
      </ul>
      <form class="form-inline" action="{% url 'main:search' %}">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
            aria-label="Search" name="q">
            <i class="fas fa-search" style="color: aliceblue;"></i>
        </form>
    </div>
  </div>
    
  </nav>
