<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "include/css.html" %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/oxem50uv7a6ypd28mmcommsapjk21zbt96sllj8auya0f7qu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Bootstrap CSS -->
    
  </head>
  
  <body>
    {% include "include/navbar.html" %}
    
    {% include "include/toasts.html" %}
    
    {% block content %}{% endblock %}
    <!-- Optional JavaScript -->
    {% if messages %}
      <script>
        $(function() {
          $('.toast').toast('show');
        });
      </script>
    {% endif %}
    {% include "include/js.html" %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>