{% extends "base.html" %}

{% block content %}
<div class="container col-sm-7"></br>
    <div class="row">
            <h1 style="margin-left: auto; margin-right: auto;">Search</h1>
            {% for result1 in queryset1 %}
                <div class="list-group" style="margin-bottom: 20px; width: 100%;">
                    <a href="/{{ result1.blog_slug }}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h4>{{ result1.title }}</h4>
                            <small>{{ result1.published }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% for result2 in queryset2 %}
                <div class="card-deck">
                    <div class="card bg-light mb-3" style="max-width: 18rem; margin-left: 30px;">
                            <a href="/{{ result3.blog_slug }}", style="color: #000">
                        <!-- <div class="card-header">Category</div> -->
                        <div class="card-body">
                        <h5 class="card-title text-center">{{ result2.blog_series }}</h5>
                        <img class="card-img-top" src="{% if result2.image_series %}{{ result2.image_series.url }}{% else %}#{% endif %}" alt="">
                        <p class="card-text">{{ result2.series_summary }}</p>
                        </div>
                    </a></div>
                </div>
        {% endfor %}
    </div>
</div>

{% endblock %}